In [2]:
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

# Question 1

In [10]:
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
table_data=[]
while(len(table_data)==0):
    table_data=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//td")
len(table_data)

180

In [11]:
data=[]
for i in range(0,len(table_data),6):
    rank=table_data[i].text
    V_Name=table_data[i+1].text
    Artist=table_data[i+2].text
    views=table_data[i+3].text
    upload_date=table_data[i+4].text
    data.append({
        'Rank':rank,
        'Video name':V_Name,
        'Artist':Artist,
        'views':views,
        'Upload Date':upload_date
    })
pd.DataFrame(data)

,Rank,Video name,Artist,views,Upload Date
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.32,"June 17, 2016"
1,2.,"""Despacito""[25]",Luis Fonsi,7.54,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.71,"October 8, 2016"
3,4.,"""Shape of You""[27]",Ed Sheeran,5.46,"January 30, 2017"
4,5.,"""See You Again""[28]",Wiz Khalifa,5.26,"April 6, 2015"
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.51,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.51,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.46,"January 31, 2012"
8,9.,"""Uptown Funk""[34]",Mark Ronson,4.29,"November 19, 2014"
9,10.,"""Gangnam Style""[35]",Psy,4.19,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[37]",ChuChu TV,4.16,"March 6, 2014"
11,12.,"""Dame Tu Cosita""[38]",El Chombo,3.59,"April 5, 2018"
12,13.,"""Sugar""[39]",Maroon 5,3.55,"January 14, 2015"
13,14.,"""Sorry""[40]",Justin Bieber,3.47,"October 22, 2015"
14,15.,"""Roar""[41]",Katy Perry,3.43,"September 5, 2013"
15,16.,"""Counting Stars""[42]",OneRepublic,3.39,"May 31, 2013"
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,3.32,"October 7, 2014"
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.26,"May 24, 2018"
18,19.,"""Dark Horse""[45]",Katy Perry,3.14,"February 20, 2014"
19,20.,"""Faded""[46]",Alan Walker,3.14,"December 3, 2015"
20,21.,"""Girls Like You""[47]",Maroon 5,3.12,"May 31, 2018"
21,22.,"""Shake It Off""[48]",Taylor Swift,3.10,"August 18, 2014"
22,23.,"""Lean On""[49]",Major Lazer,3.09,"March 22, 2015"
23,24.,"""Bailando""[50]",Enrique Iglesias,3.09,"April 11, 2014"
24,25.,"""Let Her Go""[51]",Passenger,3.07,"July 25, 2012"
25,26.,"""Axel F""[52]",Crazy Frog,3.00,"June 16, 2009"
26,27.,"""Mi Gente""[53]",J Balvin,2.98,"June 29, 2017"
27,28.,"""Perfect""[54]",Ed Sheeran,2.95,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,2.94,"June 4, 2010"
29,30.,"""Hello""[56]",Adele,2.88,"October 22, 2015"

# Question 2

In [78]:
#driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.bcci.tv/")
int_fix=driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down'][1]")
int_fix.click()

In [82]:
driver.get(driver.current_url)
Title=[]
s=[]
p=[]
date=[]
time=[]
title=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
for t in title:
    Title.append(t.text)
Places=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in Places:
    p.append(i.text)

In [88]:
s=[]
Series=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in Series:
    s.append(i.text)

In [98]:
dt=[]
date=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']/strong")
for i in date:
    dt.append(i.text)
dt

['Sunday 24th October',
 'Sunday 31st October',
 'Wednesday 3rd November',
 'Friday 5th November',
 'Monday 8th November',
 'Wednesday 17th November',
 'Friday 19th November',
 'Sunday 21st November',
 'Thursday 25th November',
 'Friday 3rd December',
 'Friday 17th December',
 'Sunday 26th December',
 'Monday 3rd January',
 'Tuesday 11th January',
 'Friday 14th January',
 'Sunday 16th January',
 'Wednesday 19th January',
 'Friday 21st January',
 'Sunday 23rd January',
 'Wednesday 26th January']

In [99]:
time=[]
date=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
for i in date:
    time.append(i.text[-9:])

In [100]:
time

['19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '09:30 IST',
 '09:30 IST',
 '13:30 IST',
 '13:30 IST',
 '13:30 IST',
 '14:00 IST',
 '14:00 IST',
 '14:00 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST']

In [102]:
pd.DataFrame({'Title':Title,'Series':s,'Place':p,'Date':dt,'Time':time})

,Title,Series,Place,Date,Time
0,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Sunday 24th October,19:30 IST
1,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Sunday 31st October,19:30 IST
2,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",Wednesday 3rd November,19:30 IST
3,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Friday 5th November,19:30 IST
4,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Monday 8th November,19:30 IST
5,1st T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",Wednesday 17th November,19:00 IST
6,2nd T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",Friday 19th November,19:00 IST
7,3rd T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",Sunday 21st November,19:00 IST
8,1st Test,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",Thursday 25th November,09:30 IST
9,2nd Test,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",Friday 3rd December,09:30 IST
10,1st Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",Friday 17th December,13:30 IST
11,2nd Test,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",Sunday 26th December,13:30 IST
12,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",Monday 3rd January,13:30 IST
13,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Tuesday 11th January,14:00 IST
14,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Friday 14th January,14:00 IST
15,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Sunday 16th January,14:00 IST
16,1st T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Wednesday 19th January,19:30 IST
17,2nd T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Friday 21st January,19:30 IST
18,3rd T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Sunday 23rd January,19:30 IST
19,4th T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Wednesday 26th January,19:30 IST

# Question 3

In [121]:
driver.close()
import time
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.guru99.com/exception-handling-selenium.html")
table_data=driver.find_elements_by_xpath("//table[@class='table table-striped']//td")
data=[]
for i in range(0,len(table_data),2):
    exp=table_data[i].text
    des=table_data[i+1].text
    data.append({
        'Exception':exp,
        'Description':des
    })
pd.DataFrame(data)

,Exception,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Question 4

In [127]:
#driver.close()
#import time
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://statisticstimes.com/economy/india/indian-states-gdp.php")
table_data=driver.find_elements_by_xpath("//table[@class='display dataTable']//td")
data=[]
for i in range(0,len(table_data),8):
    rank=table_data[i].text
    State=table_data[i+1].text
    GSDP_19_20=table_data[i+2].text
    GSDP_18_19=table_data[i+3].text
    Share_18_19=table_data[i+4].text
    GDP=table_data[i+5].text
    data.append(
    {
        'Rank':rank,
        'State':State,
        'GSDP (19-20)':GSDP_19_20,
        'GSDP (18-19)':GSDP_18_19,
        'Share (18-19)':Share_18_19,
        'GDP': GDP
    })

In [128]:
df=pd.DataFrame(data)
df.head(33)

,Rank,State,GSDP (19-20),GSDP (18-19),Share (18-19),GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question 5

In [40]:
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [41]:
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://github.com")

In [42]:
explore=driver.find_elements_by_xpath("//summary[@class='HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block']")
explore[1].click()
trending=driver.find_elements_by_xpath("//a[@class='py-2 lh-condensed-ultra d-block Link--secondary no-underline f5 Bump-link--hover']")
trending[10].click()
titles=[]
driver.get(driver.current_url)
title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a")
for i in title:
    titles.append(i.text)
titles

['authzed / spicedb',
 'appsmithorg / appsmith',
 'tharsis / evmos',
 'sindresorhus / awesome',
 'tharsis / ethermint',
 'RocketChat / Rocket.Chat',
 'github / docs',
 'electron / electron',
 'ossu / computer-science',
 'kenjihiranabe / The-Art-of-Linear-Algebra',
 'ovotech / gitoops',
 'great-expectations / great_expectations',
 'microsoft / Data-Science-For-Beginners',
 'monicahq / monica',
 'appwrite / appwrite',
 'twowaits / make-pull-request',
 'ryanmcdermott / clean-code-javascript',
 'ripienaar / free-for-dev',
 'trekhleb / javascript-algorithms',
 'vinitshahdeo / Hacktoberfest2021',
 'SerenityOS / serenity',
 'yangshun / tech-interview-handbook',
 'willmcgugan / textual',
 'Ganapati / RsaCtfTool',
 'TheAlgorithms / Javascript']

In [43]:
des=[]
d=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in d:
    des.append(i.text)
des

['A Zanzibar-inspired database that stores, computes, and validates application permissions',
 'Build completely custom admin panels and internal tools. Use 30+ react components to build pages without HTML/CSS.',
 'Evmos chain',
 '😎 Awesome lists about all kinds of interesting topics',
 'Ethermint is a scalable and interoperable Ethereum library, built on Proof-of-Stake with fast-finality using the Cosmos SDK.',
 'The communications platform that puts data protection first.',
 'The open-source repo for docs.github.com',
 'Build cross-platform desktop apps with JavaScript, HTML, and CSS',
 '🎓 Path to a free self-taught education in Computer Science!',
 'Graphic notes on Gilbert Strang\'s "Linear Algebra for Everyone"',
 'all paths lead to clouds',
 'Always know what to expect from your data.',
 '10 Weeks, 20 Lessons, Data Science for All!',
 'Personal CRM. Remember everything about your friends, family and business relationships.',
 'Appwrite is a secure end-to-end backend server for Web, Mobile, and Flutter developers that is packaged as a set of Docker containers for easy deployment 🚀',
 'Use this as learning repo on how to create successful pull requests. Very basic tasks on Python, HTML, CSS, JavaScript, JAVA.',
 '🛁 Clean Code concepts adapted for JavaScript',
 'A list of SaaS, PaaS and IaaS offerings that have free tiers of interest to devops and infradev',
 '📝 Algorithms and data structures implemented in JavaScript with explanations and links to further readings',
 "A community-led mentorship initiative to help beginners kickstarting their open-source journey by completing Hacktoberfest'21 challenge | Curated list of beginner-friendly issues for Hacktoberfest 2021 | Raise PR to add your issues",
 'The Serenity Operating System 🐞',
 '💯 Curated interview preparation materials for busy engineers',
 'Textual is a TUI (Text User Interface) framework for Python inspired by modern web development.',
 'RSA attack tool (mainly for ctf) - retreive private key from weak public key and/or uncipher data',
 'A repository for All algorithms implemented in Javascript (for educational purposes only)']

In [44]:
c=[]
con=driver.find_elements_by_xpath("//span[@class='d-inline-block mr-3']")
con

[<selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="53f8adcf-2bea-4bf8-b135-d73c57f6e556")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="7c894a99-ba25-4d57-ba3c-e4030ea4f55f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="8826a999-7cd1-4c90-b12d-01cebe83d404")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="453a4f49-582f-400a-8e0f-25cd4b377294")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="9434f929-ad4d-4a12-ae49-5f2103ae4bf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="26e0451f-d76f-4209-98ac-f32d4295db55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="7670ccd6-2d99-4914-84f1-c4ed9f1d3fb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="5ebd7580-ff1c-456f-b0fc-4ee9d971e43a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="3c85e511-9ae0-4e37-9cf1-cfa32c41d01f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="f665aac4-5b3e-4b6a-8b34-b11f8fc7875a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="6f28edcc-1d91-4f16-9cac-3e1486cf728f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="4fe6cb4a-b7cf-440b-9f55-0ff12c8dcb2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="1b279887-5941-4887-b1ba-aaf7c8272323")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="7a77dfcc-9d76-46a1-ae8d-5c2888ab7d54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="f9e76ba3-a1fb-49c5-a71d-c5dd8e5c0fe3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="ef3dbbed-9d2c-48fa-b55e-dd1d18ea5a8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="0f5dde70-b048-4370-9c0a-86fed0a08afc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="707da33c-1a48-426e-8508-5fcfea5a131e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="de8eff1f-d657-4f5a-bead-87bc03df2588")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="2d1f76af-4dca-4196-92d2-8e4892a6d43c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="799d2472-1021-4075-83df-2e44948d3a6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="cdfb061a-94c6-47e8-a5ff-033b36c862ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="f3faef5b-c276-4e6e-b2f4-29888eb39557")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="c1f7b818-9e3c-4860-9367-85906d5abbd1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5651a8fc80ffe046511aee051a1bfd0b", element="ccb98593-a997-42bb-8cb5-80ad84c98063")>]

In [45]:
c=[]
for i in con:
    img=i.find_elements_by_tag_name("a")
    c.append(len(img))
c

[5, 5, 3, 5, 5, 5, 5, 5, 5, 1, 2, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [46]:
link=[]
for i in title:
    link.append(i.get_attribute('href'))
l=[]
for i in link:
    driver.get(i)
    try:
        lang=driver.find_element_by_xpath("//a[@data-ga-click='Repository, language stats search click, location:repo overview']//span[@class='color-text-primary text-bold mr-1']").text
        l.append(lang)
    except:
        l.append("-")
l

['Go',
 'TypeScript',
 'Go',
 '-',
 'Go',
 'JavaScript',
 'JavaScript',
 'C++',
 '-',
 'TeX',
 'Go',
 'Python',
 'Jupyter Notebook',
 'PHP',
 'JavaScript',
 'HTML',
 'JavaScript',
 'HTML',
 'JavaScript',
 '-',
 'C++',
 'JavaScript',
 'Python',
 'Python',
 'JavaScript']

In [48]:
import pandas as pd
data={'Title':titles,'Description':des,'Contributors':c,'Language':l}
pd.DataFrame(data)

,Title,Description,Contributors,Language
0,authzed / spicedb,"A Zanzibar-inspired database that stores, comp...",5,Go
1,appsmithorg / appsmith,Build completely custom admin panels and inter...,5,TypeScript
2,tharsis / evmos,Evmos chain,3,Go
3,sindresorhus / awesome,😎 Awesome lists about all kinds of interesting...,5,-
4,tharsis / ethermint,Ethermint is a scalable and interoperable Ethe...,5,Go
5,RocketChat / Rocket.Chat,The communications platform that puts data pro...,5,JavaScript
6,github / docs,The open-source repo for docs.github.com,5,JavaScript
7,electron / electron,Build cross-platform desktop apps with JavaScr...,5,C++
8,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,5,-
9,kenjihiranabe / The-Art-of-Linear-Algebra,"Graphic notes on Gilbert Strang's ""Linear Alge...",1,TeX
10,ovotech / gitoops,all paths lead to clouds,2,Go
11,great-expectations / great_expectations,Always know what to expect from your data.,5,Python
12,microsoft / Data-Science-For-Beginners,"10 Weeks, 20 Lessons, Data Science for All!",5,Jupyter Notebook
13,monicahq / monica,Personal CRM. Remember everything about your f...,5,PHP
14,appwrite / appwrite,Appwrite is a secure end-to-end backend server...,5,JavaScript
15,twowaits / make-pull-request,Use this as learning repo on how to create suc...,5,HTML
16,ryanmcdermott / clean-code-javascript,🛁 Clean Code concepts adapted for JavaScript,5,JavaScript
17,ripienaar / free-for-dev,"A list of SaaS, PaaS and IaaS offerings that h...",5,HTML
18,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,5,JavaScript
19,vinitshahdeo / Hacktoberfest2021,A community-led mentorship initiative to help ...,5,-
20,SerenityOS / serenity,The Serenity Operating System 🐞,5,C++
21,yangshun / tech-interview-handbook,💯 Curated interview preparation materials for ...,5,JavaScript
22,willmcgugan / textual,Textual is a TUI (Text User Interface) framewo...,5,Python
23,Ganapati / RsaCtfTool,RSA attack tool (mainly for ctf) - retreive pr...,5,Python
24,TheAlgorithms / Javascript,A repository for All algorithms implemented in...,5,JavaScript

# Question 6

In [52]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.billboard.com/")
hot100=driver.find_element_by_xpath("//a[@class='header__submenu__list__link']")
link=hot100.get_attribute('href')
driver.get(link)

In [53]:
songs=[]
s=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in s:
    songs.append(i.text)
len(songs)

100

In [54]:
artists=[]
a=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in a:
    artists.append(i.text)
len(artists)

100

In [58]:
lwr=[]
last_week_rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_week_rank:
    lwr.append(i.text)
lwr

['1',
 '6',
 '2',
 '3',
 '5',
 '7',
 '8',
 '4',
 '13',
 '-',
 '9',
 '12',
 '10',
 '17',
 '11',
 '15',
 '16',
 '21',
 '18',
 '30',
 '23',
 '24',
 '20',
 '14',
 '37',
 '32',
 '34',
 '36',
 '43',
 '19',
 '26',
 '39',
 '31',
 '38',
 '50',
 '40',
 '-',
 '25',
 '46',
 '22',
 '42',
 '-',
 '29',
 '64',
 '49',
 '44',
 '-',
 '27',
 '48',
 '69',
 '55',
 '59',
 '56',
 '62',
 '51',
 '28',
 '35',
 '61',
 '33',
 '52',
 '65',
 '67',
 '68',
 '70',
 '66',
 '41',
 '74',
 '45',
 '79',
 '73',
 '-',
 '-',
 '81',
 '98',
 '80',
 '58',
 '77',
 '94',
 '63',
 '-',
 '91',
 '82',
 '92',
 '85',
 '87',
 '-',
 '93',
 '-',
 '54',
 '-',
 '-',
 '57',
 '75',
 '90',
 '71',
 '100',
 '-',
 '-',
 '95',
 '88']

In [59]:
peak_rank=[]
pr=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in pr:
    peak_rank.append(i.text)
len(peak_rank)

100

In [61]:
weeks_on_board=[]
wob=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in wob:
    weeks_on_board.append(i.text)
len(weeks_on_board)

100

In [62]:
data={'Song Name':songs,'Artists':artists,'Last Week Rank':lwr,'Peak Rank':peak_rank,'weeks on board':weeks_on_board}
pd.DataFrame(data)

,Song Name,Artists,Last Week Rank,Peak Rank,weeks on board
0,Stay,The Kid LAROI & Justin Bieber,1,1,11
1,Industry Baby,Lil Nas X & Jack Harlow,6,2,9
2,Way 2 Sexy,Drake Featuring Future & Young Thug,2,1,3
3,Bad Habits,Ed Sheeran,3,2,13
4,Fancy Like,Walker Hayes,5,5,14
...,...,...,...,...,...
95,Knowing You,Kenny Chesney,100,87,6
96,Am I Dreaming,Lil Nas X Featuring Miley Cyrus,-,97,1
97,Same Boat,Zac Brown Band,-,98,1
98,Come Through,H.E.R. Featuring Chris Brown,95,64,15
99,Don't Go Yet,Camila Cabello,88,42,9

# Question 7

In [19]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.naukri.com/")
nav=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
url=nav.get_attribute('href')
nav.click()
if driver.current_url!=url:
    driver.get(url)
skills=driver.find_element_by_xpath("//input[@class='sugInp']")
skills.send_keys("Data Science")
btn=driver.find_element_by_id("qsbFormBtn")
btn.click()
driver.get(driver.current_url)

In [20]:
n=[]
name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name:
    n.append(i.text)
n

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Priyanka Akiri',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Priya Khare',
 'Dhruv Dev Dubey',
 'Jayanth N',
 'Ravi Dubey',
 'Radha Manivasagam',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR']

In [21]:
des=[]
d=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in d:
    des.append(i.text)

In [22]:
com=[]
c=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in range(1,100,2):
    com.append(c[i].text)

In [23]:
skills=[]
s=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in s:
    skills.append(i.text)

In [24]:
link=[]
for i in range(0,100,2):
    link.append(c[i].get_attribute('href'))

In [25]:
loc=[]
for i in link:
    driver.get(i)
    x=driver.find_elements_by_xpath("//a[@class='fl ellipsis widLrg']")
    try:
        loc.append(x[1].text)
    except:
        loc.append("-")

In [26]:
data={'Name':n,'Designation':des,'Company':com,'Skills':skills,'Location':loc}

In [28]:
import pandas as pd
pd.DataFrame(data)

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
33,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
34,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

# Question 8

In [98]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
td=driver.find_elements_by_xpath("//table[@class='in-article sortable']//td")
len(td)

601

In [99]:
td=td[1:]

In [100]:
len(td)

600

In [101]:
data=[]
for i in range(0,599,6):
    data.append(
    {
        'Rank':td[i].text,
        'Title':td[i+1].text,
        'Author':td[i+2].text,
        'Volume Sales':td[i+3].text,
        'Publisher':td[i+4].text,
        'Genre':td[i+5].text
    })
pd.DataFrame(data)

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 9

In [102]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")
name=[]
names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in names:
    name.append(i.text)
name

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [103]:
y_s=[]
span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[@class='lister-item-year text-muted unbold']")
for i in span:
    y_s.append(i.text)
len(y_s)

100

In [104]:
genre=[]
g=driver.find_elements_by_xpath("//span[@class='genre']")
for i in g:
    genre.append(i.text)
len(genre)

100

In [105]:
runtime=[]
run_time=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in run_time:
    runtime.append(i.text)
len(runtime)

100

In [106]:
ratings=[]
rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[@class='ipl-rating-star__rating']")
for i in rating:
    ratings.append(i.text)
len(ratings)

100

In [107]:
votes=[]
v=driver.find_elements_by_xpath("//span[@name='nv']")
for i in v:
    votes.append(i.text)
len(votes)

100

In [108]:
data={'Name':name,'Year span':y_s,'Genre':genre,'Runtime':runtime,'Ratings':ratings,'Votes':votes}
pd.DataFrame(data)

,Name,Year span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,878,628"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"912,538"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"901,774"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,484"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"230,826"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,796"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,644"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"176,719"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,784"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"201,418"

# Question 10

In [109]:
driver.close()
driver=webdriver.Chrome("C:/Users/Simran Kumari/Downloads/chromedriver_win32/chromedriver.exe")
driver.get("https://archive.ics.uci.edu/ml/index.php")
all_ds=driver.find_elements_by_xpath("//span[@class='whitetext']")
all_ds[3].click()
driver.get(driver.current_url)

In [111]:
data=[]
ds=driver.find_elements_by_xpath("//table[@border='1']//td/p[@class='normal']")
for i in range(0,len(ds)-1,7):
    data.append({
        'Dataset Name':ds[i].text,
        'Data Type':ds[i+1].text,
        'Task':ds[i+2].text,
        'Attribute type':ds[i+3].text,
        'No of instances':ds[i+4].text,
        'No of attributes':ds[i+5].text,
        'Year':ds[i+6].text
    })

In [112]:
pd.DataFrame(data)

,Dataset Name,Data Type,Task,Attribute type,No of instances,No of attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021